body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #ecf0f1; /* Light blue-gray background color */
}

h1 {
  color: #3498db; /* Blue heading color */
  text-align: center; /* Center-align the h1 element */
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert text to uppercase */
  margin-top: 40px; /* Adjust the top margin as needed */
}


form {
  margin: 500px;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff; /* White background for the form */
  padding: 30px; /* Increased padding within the form boundary */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

label {
  margin-bottom: 8px;
  color: #333; /* Dark gray label color */
}

input, select, button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Larger checkbox */
input[type="checkbox"] {
  height: 20px; /* Adjust the height as needed */
  width: 20px; /* Adjust the width as needed */
}

button {
  cursor: pointer;
  background-color: #3498db; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#results {
  margin-top: 20px;
}

/* Add some styles to the search results */
#results div {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

#results strong {
  color: #27ae60; /* Green strong text color */
}
